<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIT Students</title>
    <link rel="icon" href="./Assets/asset15.jpg">
    <link rel="stylesheet" href="/CSS/error.css">
    <link rel="stylesheet" href="/mediaQuery/error.css">
</head>
<body>
    <div class="image">
        <img src="/Assets/asset13.jpeg" alt="">
    </div>
    <h3>Something Went Wrong !!</h3>
    <p>Submit you problem from contact us section , for this page.</p>
</body>
</html>