<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIT Students - Register</title>
    <link rel="icon" href="./Assets/asset15.jpg">
    <link rel="stylesheet" href="./CSS/register.css">
    <link rel="stylesheet" href="./mediaQuery/register.css">
</head>
<body>
        <div class="mobile-logo">
            <a href="#"><img src="/Assets/asset5.png" alt=""></a>
        </div>
    
        <div class="check-box">
            <h3>Don't have account?</h3>
            <button type="button" class="btn" id="flipCard">Sign up</button>
        </div>
    
        <div class="content">
    
            <!-- Background text -->
            <div class="main">
                <div class="text-page log-in-flip">
                    <div class="logo">
                        <a href="#"><img src="/Assets/asset5.png" alt="website Logo"></a>
                    </div>
                    <h3>Already have account?</h3>
                    <div class="switch">
                        <button class="button" id="logSwitch">
                            <span class="button-text-one">Log in</span>
                            <span class="button-text-two">Great!</span>
                        </button>
                    </div>
                </div>
                <div class="text-page sign-in-flip">
                    <div class="logo">
                        <a href="#"><img src="/Assets/asset5.png" alt="website Logo"></a>
                    </div>
                    <h3>Don't have account?</h3>
                    <div class="switch">
                        <button class="button" id="signSwitch">
                            <span class="button-text-one">Sign Up</span>
                            <span class="button-text-two">Great!</span>
                        </button>
                    </div>
                </div>
            </div>
    
            <div class="log-page" id="slide-page">
    
                <!-- Log In Details -->
    
                    <div class="log flip-signup log-in-details" id="login-details">
                        <form action="/login" method="post" id="log-form">
                            <div class="user-interface">
                                <input type="text" required="" name="enrollment" id="log-enrollment">
                                <label>
                                    <span style="transition-delay:0ms">E</span><span style="transition-delay:50ms">n</span><span style="transition-delay:100ms">r</span><span style="transition-delay:150ms">o</span><span style="transition-delay:200ms">l</span><span style="transition-delay:250ms">l</span><span style="transition-delay:300ms">m</span><span style="transition-delay:350ms">e</span><span style="transition-delay:400ms">n</span><span style="transition-delay:450ms">t</span><span style="transition-delay:500ms"> </span><span style="transition-delay:550ms">N</span><span style="transition-delay:600ms">o</span><span style="transition-delay:650ms">.</span>
                                </label>
                                <span id="log-error" class="error"></span>
                            </div>
                            <div class="user-interface">
                                <input type="password" required="" name="password" minlength="6" id="log-password">
                                <label>
                                    <span style="transition-delay:0ms">P</span><span style="transition-delay:50ms">a</span><span style="transition-delay:100ms">s</span><span style="transition-delay:150ms">s</span><span style="transition-delay:200ms">w</span><span style="transition-delay:250ms">o</span><span style="transition-delay:300ms">r</span><span style="transition-delay:350ms">d</span>
                                </label>
                            </div>
                            <button class="button">
                                <span class="button-text-one">Log in</span>
                                <span class="button-text-two">Great!</span>
                            </button>
                        </form>
                    </div> 
    
                    <!-- Sign UP Details -->
    
                    <div class="content-arrange gap2 hide flip-signup log" id="signup-details">
                        <form action="/new" method="post" id="sign-form">
                            <div class="user-interface bt-gap">
                                <input type="text" required="" name="name">
                                <label>
                                    <span style="transition-delay:0ms">N</span><span style="transition-delay:50ms">a</span><span style="transition-delay:100ms">m</span><span style="transition-delay:150ms">e</span>
                                </label>
                            </div>
                            <div class="user-interface bt-gap">
                                <input type="number" name="enrollment" required pattern="\d{8}" id="enrollment">
                                <label>
                                    <span style="transition-delay:0ms">E</span><span style="transition-delay:50ms">n</span><span style="transition-delay:100ms">r</span><span style="transition-delay:150ms">o</span><span style="transition-delay:200ms">l</span><span style="transition-delay:250ms">l</span><span style="transition-delay:300ms">m</span><span style="transition-delay:350ms">e</span><span style="transition-delay:400ms">n</span><span style="transition-delay:450ms">t</span><span style="transition-delay:500ms"> </span><span style="transition-delay:550ms">N</span><span style="transition-delay:600ms">o</span><span style="transition-delay:650ms">.</span>
                                </label>
                                <span id="enrollment-error" class="error"></span>
                            </div>
                            <div class="user-interface bt-gap">
                                <input type="password" name="password" required="" id="password" minlength="6">
                                <label>
                                    <span style="transition-delay:0ms">P</span><span style="transition-delay:50ms">a</span><span style="transition-delay:100ms">s</span><span style="transition-delay:150ms">s</span><span style="transition-delay:200ms">w</span><span style="transition-delay:250ms">o</span><span style="transition-delay:300ms">r</span><span style="transition-delay:350ms">d</span>
                                </label>
                                <span id="password-error" class="error"></span>
                            </div>
                            <div class="sign-btn">
                                <button class="button">
                                    <span class="button-text-one">Sign up</span>
                                    <span class="button-text-two">Great!</span>
                                </button>
                            </div>
                        </form>
                    </div>
            </div>
    
        </div>

    <script src="./javaScript/register.js"></script>
</body>
</html>