<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIT Students</title>
    <link rel="icon" href="./Assets/asset15.jpg">
    <link rel="stylesheet" href="/CSS/resources.css">
    <link rel="stylesheet" href="/mediaQuery/resources.css">
</head>
<body>
    <div class="image">
        <img src="/Assets/asset13.jpeg" alt="">
    </div>
    <h3>It's not you , It's us</h3>
    <p>We are working on this page, Any suggestions !! What you need in this page.</p>
</body>
</html>