<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIT Students - Skills</title>
    <link rel="icon" href="./Assets/asset15.jpg">
    <link rel="stylesheet" href="./CSS/skills.css">
    <link rel="stylesheet" href="./mediaQuery/skills.css">
</head>
<body>
    <div class="main">
        <div class="container">
            <div class="card">
              <div class="img-box">
                <img src="./Assets/asset12.jpg" alt="">
              </div>
              <div class="text-box">
                <h5>Master Java Programming</h5>
                <p>Dive into the world of Java with our video tutorials and practice questions.</p>
                <div class="btn-container">
                    <a href="/java" class="btn">Start Learning</a>
                </div>
              </div>
            </div>
      
            <div class="card disable">
              <div class="img-box">
                <img src="./Assets/asset11.gif" alt="">
              </div>
              <div class="text-box">
                <h5>DSA</h5>
                <p>Delve into world of problem-solving and critical thinking with DSA tutorials and practice.</p>
                <div class="btn-container">
                    <a href="#" class="btn">Working .....</a>
                </div>
              </div>
            </div>
      
            <div class="card disable">
              <div class="img-box">
                <img src="./Assets/asset10.jpg" alt="">
              </div>
              <div class="text-box">
                <h5>Frontend Development</h5>
                <p>Learn art of building captivating user interfaces with interactive tutorials and projects.</p>
                <div class="btn-container">
                    <a href="#" class="btn">Working.......</a>
                </div>
              </div>
            </div>
      
            <div class="card disable">
              <div class="img-box">
                <img src="./Assets/asset9.jpg" alt="">
              </div>
              <div class="text-box">
                <h5>Backend Development</h5>
                <p>Discover the magic behind the scenes with our comprehensive tutorials and practical projects.</p>
                <div class="btn-container">
                    <a href="#" class="btn">Working.......</a>
                </div>
              </div>
            </div>
          </div>
    </div>
</body>
</html>