body {
    color: #B6B6B6;
    background-color: #35386d;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 5rem;
    justify-content: center;
}

h3 {
    font-size: 2rem;
}

p{
    font-weight: 700;
    font-size: 1.2rem;
}

.image img{
    width: 400px;
}